<?xml version="1.0" encoding="UTF-8"?>
<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
    <title>iPad</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iPad" fill="#67AB50">
            <path d="M15.7324981,6.94634065 C15.7324981,6.73660567 15.6486041,6.52687069 15.4975949,6.3758615 L14.3566366,5.23490318 C14.2056274,5.08389399 13.9958924,5 13.7861574,5 C13.5764224,5 13.3666874,5.08389399 13.2156782,5.23490318 L7.71223226,10.7467386 L5.24574885,8.27186575 C5.09473966,8.12085657 4.88500467,8.03696257 4.67526969,8.03696257 C4.4655347,8.03696257 4.25579972,8.12085657 4.10479053,8.27186575 L2.96383222,9.41282407 C2.81282303,9.56383326 2.72892904,9.77356824 2.72892904,9.98330323 C2.72892904,10.1930382 2.81282303,10.4027732 2.96383222,10.5537824 L7.1417531,14.7317033 C7.29276229,14.8827125 7.50249728,14.9666065 7.71223226,14.9666065 C7.92196725,14.9666065 8.13170223,14.8827125 8.28271142,14.7317033 L15.4975949,7.51681981 C15.6486041,7.36581062 15.7324981,7.15607564 15.7324981,6.94634065 Z" id="Check---FontAwesome"></path>
        </g>
    </g>
</svg>