

<div class="cart__optionboxes">
                <span class="nwd-box--one-third">{% include 'icon-cart-nwd' %}UK Next Working Day Delivery {{ section.settings.cart_nwd_cost }}<a class="grey-text text-underlined" href="{{ shop.url }}/pages/delivery-information">Learn more</a><small>Select during checkout</small></span>
                  <span class="int-postage--one-third">
                    {% include 'icon-cart-international' %}
                    <p class="regular-font">Free International postage over £150</p>
                    <a class="grey-text text-underlined" href="{{ shop.url }}/pages/delivery-information">Learn more</a><small>Select during checkout</small>
                  </span>
                   <span class="questions--one-third">
                    <strong class="text-center regular-font">Got any problems or questions?</strong>
                    <p class="regular-font">We're here to help Monday - Friday between 9am and 5pm.<br/><br/>You can call us on: <a href="tel:03301221439" class="grey-text no-underline">0330 122 1439</a></p>
                  </span>
               </div>
            <div class="clear-cart--text">
             <span class="cart__clear"><a href="/cart/clear">Clear all items from cart</a></span>
        </div>